<nav class="app-navbar">
  <div class="app-navbar-brand">
    <a href="#">
      <img src="../../assets/img/logo.svg" alt="">
    </a>
  </div>
  <div class="float-right">
    <ul class="app-navbar-items">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>
    <div class="client-logo">
      <img src="../../assets/img/client-logo.svg" alt="">
    </div>
  </div>
  <div class="app-navbar-collapse" (click)="showHideMenu()">
    <img src="{{ imageLink }}" alt="">
  </div>
  <div *ngIf="showCollapseMenu" class="mobile-menu animated fadeInLeft clearfix">
    <div class="app-navbar-brand clearfix">
      <img src="../../assets/img/client-logo.svg" alt="">
    </div>
    <ul class="mobile-items ">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>
  </div>
</nav>

