@import '../../styles/colours'; 

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $background;
    border-bottom: 1px solid $borders;
    z-index: 1000;
    .app-navbar-items{
        display: inline-block;
        float: left;
        li{
            list-style: none;
            display: inline-block;
            float: left;
            color: $text-colour;
            padding: 31px 16px 10px 16px;
            transition: ease all .3s;
        }
        li:hover{
            color: $main-colour;
            cursor: pointer;
        }
    }
    .app-navbar-collapse{
        display: none;
    }
    .app-navbar-brand , .client-logo{
        display: inline-block;
        float: left;
        height: 30px;
        object-fit: contain;
        margin: 26px 32px 25px 32px
    }
    .app-navbar-brand{
        width: 120px
    }
    .client-logo{
        width: 188px;
    }
    .mobile-menu{
        margin-top: 80px;
        .app-navbar-brand{
            display: block;
            width: 100%;
        }
    }
    .mobile-items{
        margin-top: -20px;;
        width: 100%;
        li{
            padding: 7px 30px;
            display: block;
            width: 100%;
            margin-top: 0;
            transition: ease all .3s
        }
        li:hover{
            cursor: pointer;
            color: $main-colour;
        }
    }
    .app-navbar-collapse{
        img{ 
            width: 20px; 
        }
        position: absolute;
        right: 24px;
        top: 31px;
        cursor: pointer;
    }

}
// ---------------------------- Media Queries ----------------------------
@media screen and (max-width: 740px){
    .app-navbar{
        .float-right{
            display: none;
        }
        .app-navbar-collapse{ display: block }
    }
}