<div class=" app-card clearfix">
  <img [alt]="hotel.title" [src]="hotel.image"/>
  <div class="hotel-info ">
    <div class="address-div">
      <h5>{{hotel.title}}</h5>
      <p>{{hotel.address}}</p>
    </div>
    <div class="price-div">
      <div class="price">
        <h5>&euro;{{hotel.price}}</h5>
        <span> per night</span>
      </div>
      <button class="app-button">Action</button>
    </div>
  </div>
</div>

<div class="app-card-mobile clearfix">
  <div class="img-div"  [style.background-image]="'url(' + hotel.image + ')'" >
  </div>
  <div class="info-address">
    <h5>{{hotel.title}}</h5>
    <p>{{hotel.address}}</p>
  </div>
  <div class="info-price">
    <h5>&euro;{{hotel.price}}</h5>
    <span> per night</span>
  </div>
</div>