/* You can add global styles to this file, and also import other style files */
@import "./styles/mixins";
@import "./styles/forms";
@import "./styles/homepage";
@import "./styles/cards";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body{
    color: $text-colour !important;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'Proxima Nova' !important;
}

h1, h2, h3, h4, h5{
    font-family: 'proxima_nova_bold' !important;
}


// ----------------------  scrollbar & form hover ----------------------------

/* width */
::-webkit-scrollbar{
    width: 5px;
    border-radius: 50%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $background;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $main-colour;
  }
  
  textarea:hover,
  input:hover,
  textarea:active,
  input:active,
  textarea:focus,
  input:focus,
  button:focus,
  button:active,
  label:focus,
  .btn:active,
  .btn.active,
  div:focus,
  div:active
  {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0) !important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0) !important;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0) !important;
    outline: 0 !important;
  }